<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		img {
			width: 100%;
			height: auto;
		}
	</style>
	<title><%=title%></title>
	<link rel="stylesheet" type="text/css" href="layout.css">
	<script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true&key=AIzaSyBJhLXaSHKHiyPCTLzrtoxet3_eRqS0R1I"></script>
	<script type="text/javascript">
		var loadMap = function () {
			var myLatLng = { lat: <%=lat%>, lng: <%=lon%>};
			var map = new google.maps.Map(document.getElementById("map"), {
				zoom: 12,
				center: myLatLng
			});
			var map = new google.maps.Marker({
				position: myLatLng,
				map: map,
				title: '<%=title%>'
			});
		};
		window.onload = loadMap;
	</script>
</head>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
	<div id="map" style="width:500px;height:500px;">		
</body>
</html>