<html>
	<head>
		<title>Login</title>
	</head>
	<body>
		<h1>Login</h1>

		<%= message %>

		<form action='/login_auth' method='POST'>
			User id: <input type='text' name='name' label='Name'> <br>
			Password: <input type='password' name='password' label='Password'> 
			<input type='submit' value='Log in'> 
		</form>

		 <a href='/register'><button> Register page</button></a> 
	</body>
</html>
