<html>
	<head>
		<title>Register</title>
	</head>
	<body>
		<h1>Register</h1>

		<%= errorMessage %>

		<form action='/reg_auth' method='POST'>
			User id: <input type='text' name='registerName' label='Name'> <br>
			Password: <input type='password' name='registerPassword' label='Password'>
			<input type='submit' value='Register'> 
		</form>

		<button> <a href='/'> Login page</a> </button>

	</body>
</html>